body {
	background-color: #333333;
    color: white;
}
.center {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 50px;
}


.button {
    background-color: #0158C2; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 4px;
}

.button2:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}