body {
	background-color: #333333;
    color: white;
}


.grid-container {
    font-family: "Roboto";
    line-height: 1.5;
    font-size: 80%;
    display: block;
    width: 100%;
    
}

.headClass{
    text-align: center;
}

.aboutClass {
    font-size: 80%;
    margin-top: 80px;
    text-align: center;
}

.loremClass {
    margin-top: 50px;
}

@media screen and (min-width: 600px) {
  .grid-container {
display: grid;
grid-template-columns: 30% 40%;
grid-template-rows: 100px 50%;
font-family: "Roboto";
line-height: 1.5;
font-size: 80%;
text-align: left;
  }

.aboutClass {
    order: -1;
    margin-top: 350px;
    margin-left: px;
    place-self: center;
    font-size: 80%;
}
.loremClass {
    margin-top: 100px;
}

.headClass{
    text-align: left;
}


}


.textClass {
    font-style: italic;
}

.greyClass {
    color: #A9A9A9;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A9A9A9;
    margin: 1em 0;
    padding: 0;
}

a {
    color: #A9A9A9;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}




